.header{
  height: 200px;
  position: sticky;
  width: 100%;
  object-fit: cover;
  top: 0;
}
.header-image{
  width: 100%;
  height: 200px;
}
.footer{
  height: 200px;
  position: sticky;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer-img{
  width: 100%;
  height: 200px;
}
.content{
  display: flex;
  justify-content: space-between;
  height: 500px;
}
.main-img{
  height: 500px;
  width: 500px;
  object-fit: cover;
}
.aside-left{

}
.aside-left-img{
  max-width: 450px;
  height: 500px;
}
.aside-right{

}
.aside-right-img{
  max-width: 450px;
  height: 500px;
}
.random-button{
  background: aqua;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
}